body{
    margin : 0 ;
    padding: 0;
}

.container{
    width: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0px 0px;
    max-width: 100%;
    height : 100vh;

}



.mynav{
    padding: 15px 5%;
}

span{
    margin: 0px 10px;
}

a.connectbtn{
    color:black;
    border: 1px solid black;
}

a.connectbtn:hover{
    border: 1px solid black;
    background-color: #F2F2F2;
}

a.inscrirebtn{
    color:#fff;
    background-color:black;

}

a.inscrirebtn:hover{
    color:#fff;
    background-color: #464646;
}


.welcome{
    background-image: url('../images/back.webp');
    color: rgba(255, 255, 255, 0.6);
    position: relative;
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    padding: 30px 5%;
}

.welcome h1{
    text-align: center;
    color: black;
}

.welcome div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    color: black;
    font-size: 20px;
    width: 45%;
    background-color: #fff;
    padding: 15px 60px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 14px;
}

.welcome2{
    background-color: #DFDFDF;
    padding: 30px 10%;
}

.welcome2>p {
 font-size: 25px;
}

.footer{
    min-height: 100px;
    background-color: #AAA6A6;
}








